<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/administer.css">
    <title>CHECKMATE</title>
    <script src="https://kit.fontawesome.com/3f8f53c026.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="header">
        <a class="header-first" href="/main">
            <img src="/img/checkmate.png" width="60" height="60">
            <p>CHECKMATE</p>
        </a>
        
        <div class="header-second"> 
            <form action="/main/search" method="GET" class="header-find">
                <input type="text" placeholder="이름 검색" name="name"></p>
                <i class="fa-solid fa-magnifying-glass"></i>
            </form>

            <div class="header-add"> 
                <p>가족 추가</p>
            </div>

            <div class="header-logout">
                <p>로그아웃</p>
            </div>
        </div>
    </div>
    <div class="family">
        <% for (const fid in groupedData) { %>
            <div class="family-attribute" data-fid="<%= fid %>">
                <div class="family-attribute--header">
                    <i class="fa-solid fa-chevron-right toggle-icon"></i>
                    <i class="fa-solid fa-plus"></i>
                    <span class="student-name">학생 이름: </span>

                    <%= groupedData[fid]
                        .filter(item => item.type === "학생")
                        .map(item => item.name)
                        .join(", ") %>

                </div>
                <div class="family-attribute--headers">
                    <i class="fa-solid fa-circle-user hidden"></i>
                    <span class="header-name">이름</span>
                    <span class="header-rrn">주민번호</span>
                    <span class="header-device-token">기기토큰</span>
                    <span class="header-type">관계</span>
                    <span class="attend hidden">출결 관리</span>
                    <i class="fa-solid fa-wrench hidden"></i>
                </div>
                <% groupedData[fid].forEach(item => { 
                    const rrnParts = item.rrn.split('-');
                    const formattedRrn = `${rrnParts[0]}-${rrnParts[1].charAt(0)}******`;
                %>
            
                    <div class="family-attribute--people" 
                        id="<%= item.type === '학생' ? item.student_id : item.parent_id %>"
                        data-type="<%= item.type %>">
                        <i class="fa-solid fa-circle-user"></i>
                        <span class="name"><%= item.name %> </span> 
                        <span class="rrn"><%= formattedRrn %></span>
                        <span class="device_token"><%= item.device_token %></span>
                        <span class="type"><%= item.type %></span>
                        <% if (item.attend !== null) { %>
                            <span class="attend">출결 관리</span>
                        <% } else { %>
                            <span class="attend hide2">출결 관리</span>
                        <% } %>
                        <i class="fa-solid fa-wrench"></i>
                    </div>
                <% }) %>
            </div>
        <% } %>   
    </div>  

    <script src="/js/adminster.js"></script>
</body>
</html>