<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/administer.css">
    <title>CHECKMATE</title>
    <script src="https://kit.fontawesome.com/3f8f53c026.js" crossorigin="anonymous"></script>
</head>
<body class="addPage-body">

    <div class="addPage-header">
        <a class="addPage-header-first" href="/main">
            <img src="/img/checkmate.png" alt="#" width="60" height="60">
            <p>CHECKMATE</p>
        </a>
        <p class="addPage-header-title"><%= person.name %> 편집</p>
    </div>

    <div class="form-container">
        <form action="/main/edit/<%= person.type === '학생' ? 'student' : 'parent' %>/<%= id %>" method="PUT">
            <div class="input-box">
                <label for="">이름</label>
                <input type="text" placeholder="이름" name="name" required value="<%= person.name %>">
              </div>

            <div class="input-box">
                <label for="">주민등록번호</label>
                <input type="text" placeholder="000000-0000000" name="rrn" required maxlength="14" value="<%= person.rrn %>">
                <small id="rrn-error" style="color: red; display: none;">유효한 주민등록번호를 입력하세요. (000000-0000000)</small>
            </div>

            <div class="input-box">
                <label for="">기기토큰</label>
                <input type="text" placeholder="기기토큰" name="device_token" required value="<%= person.device_token %>">
            </div>

            <div class="input-box">
                <label for="">관계</label>
                <select disabled>
                    <option value="student" <%= person.type === '학생' ? 'selected' : ''%>>학생</option>
                    <option value="parent" <%= person.type === '부모' ? 'selected' : ''%>>부모</option>
                </select>
            </div>
            <div>
                <input type="submit" value="수정" class="add-btn">
            </div>
            
        </form> 
    </div>

    <div class="plus-form">
        <form action="">
            <button class="back-btn">취소</button>
            <button class="delete-btn">삭제</button>
        </form>
    </div>

    <script src="/js/editFamily.js">
        const id = "<%= id %>"; 
    </script> 
</body>
</html>